doctype
html
    head
        title= title
        script(src='/socket.io/socket.io.js')
        script(src="/src/js/jquery.js")
        script(src="/src/js/bootstrap.min.js")
        script(src="/src/js/scripts.js")
        //script(src="/src/js/game.js")
        script(src="/src/js/chat.js")
        
       
        link(rel="stylesheet" href="/src/css/bootstrap.min.css")
        link(rel="stylesheet" href="/src/css/styles.css")
    body