include partials/head.pug
.container
    include partials/header.pug
    if firstname
      h1= 'Bonjour ' + firstname
    else
      h1= title

    .container
      form(action="/register" method="post" class="col-12")
      
        .form-row
          .form-group.col-md-6
            label(for='inputEmail') Email
            input#inputEmail.form-control(type='email', placeholder='Email')
          .form-group.col-md-6
            label(for='inputPassword') Password
            input#inputPassword.form-control(type='password', placeholder='Password')
        button.btn.btn-primary(type='submit') Sign in



    
    include partials/footer.pug