include partials/head.pug
.container
    include partials/header.pug
    if session.firstname
      h1= 'Bonjour ' + session.firstname
    else
      h1= title
      

    .container
      #userFormArea.row
        .col-md-12
          form#userForm
            .form-group
              label Veuillez Saisir un Pseudo pour jouer !
              input#username.form-control
              br
              input.btn.btn-primary(type='submit', value='Envoyer')

      #messageArea.d-none.row
        #jeu.col-md-6
          #winner(style='color:blue')
          br
          #count_down(style='color:red')
          h3  Venez jouer avec moi en  
          h3  cliquant sur la souris !  
          br
          button#newGame Start new game
          #cvs
          
        .col-md-6
          .row
            .col-md-6
              .card.card-body.bg-light
                h3 Online Players
                ul#users.list-group
            .col-md-6
              #chat.chat
              form#messageForm
                .form-group
                  label Enter Message
                  textarea#message.form-control
                  br
                  input.btn.btn-primary(type='submit', value='Send message')

      
      

    
    
    include partials/footer.pug